<div class='container'>
	<h2>About</h2>
	<p class='info'>TraderPlus Widget Store allows users and developers to upload third party widgets.</p>
	<p>Author: {{data.author}}</p>
	<p>Version: {{data.version}}</p>
	<!--div>
		<a class="btn btn-primary" ng-click="test01()">Test01</a>
		<a class="btn btn-primary" ng-click="test02()">Test02</a>
		<a class="btn btn-primary" ng-click="test03()">Test03</a>
		<a class="btn btn-primary" ng-click="test04()">Test04</a>
		<a class="btn btn-primary" ng-click="test05()">Test05</a>
		<a class="btn btn-primary" ng-click="test06()">Test06</a>
		<a class="btn btn-primary" ng-click="test07()">Test07</a>
		<a class="btn btn-primary" ng-click="test08()">Test08</a>
		<a class="btn btn-primary" ng-click="test09()">Test09</a>
	</div-->
</div>