<div class="col-xs-pull-4 col-xs-push-4 col-sm-4">
	<form name="profileForm" class="main">
		<h2 class="title">My Profile</h2>
    <div class="input-group">
    	<span class="input-group-addon">
				<i class="fa fa-user"></i>
			</span>
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username" readOnly/>
    </div>
    <div class="input-group">
    	<span class="input-group-addon">
				<i class="fa fa-user"></i>
			</span>
      <input type="text" class="form-control" placeholder="Fullname" ng-model="user.fullname"/>
    </div>
    <div class="input-group">
    	<span class="input-group-addon">
				<i class="fa fa-lock"></i>
			</span>
      <input type="password" class="form-control" placeholder="Current Password" ng-model="user.password" required/>
    </div>
    <div class="input-group">
    	<span class="input-group-addon">
				<i class="fa fa-lock"></i>
			</span>
      <input type="password" class="form-control" placeholder="New Password" ng-model="user.password1" required/>
    </div>
    <div class="input-group">
    	<span class="input-group-addon">
				<i class="fa fa-lock"></i>
			</span>
      <input type="password" class="form-control" placeholder="New Password Confirm" ng-model="user.password2" required/>
    </div>
    <div class="error" ng-if="error">{{error}}</div>
    <div>
      <button type="submit" class="btn btn-large btn-primary btn-block" ng-click="update(user)">Update</button>
    </div>
	</form>
  
</div>